body {
    font-family: Arial, sans-serif;
    background-color: #8adaee;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

header {
    position: fixed; /* O absolute */
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background-color: #383636;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-flex;
    gap: 15px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background 0.3s;
}

nav ul li a:hover {
    background-color: #ddd;
}

.nav-vertical ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column; /* Apila los elementos verticalmente */
    gap: 10px;
}

.nav-vertical ul li {
    display: block;
}

.nav-vertical ul li a {
    text-decoration: none;
    color: #333;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background 0.3s;
}

.nav-vertical ul li a:hover {
    background-color: #ddd;
}


form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 20px auto;
}

label {
    margin-top: 10px;
}

input, textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: #000000;
    color: white;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background-color: #9c0000;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: white;
    margin: 10px 0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 60%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

.image-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

.ver {
    display: inline-block;
    padding: 10px 15px;
    font-size: 16px;
    color: white;
    background-color: #2f98b3; /* Color del botón */
    border: none;
    border-radius: 5px;
    text-decoration: none; /* Quitar subrayado */
    text-align: center;
    transition: background-color 0.3s;
}

.ver:hover {
    background-color: #3d3838; /* Color del botón al pasar el mouse */
}
