<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú Principal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Menú Principal</h1>
    <nav>
        <ul>
            <li><a href="{{ url_for('inscripcion') }}">Inscripción</a></li>
            <li><a href="{{ url_for('registro_usuario') }}">Registro de Usuario</a></li>
            <li><a href="{{ url_for('registro_producto') }}">Registro de Producto</a></li>
            <li><a href="{{ url_for('registro_libro') }}">Registro de Libro</a></li>
        </ul>
    </nav>
    <br>
    <a href="{{ url_for('vaciar') }}">Vaciar todos los datos</a>
</body>
</html>
