<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados del Registro de Libro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="{{ url_for('inscripcion') }}">Inscripcion de Curso</a></li>
                <li><a href="{{ url_for('registro_usuario') }}">Registro de Usuarios</a></li>
                <li><a href="{{ url_for('registro_libro') }}">Registro de Libros</a></li>
                <li><a href="{{ url_for('registro_producto') }}">Registro de Productos</a></li>
            </ul>
        </nav>
    </header>
    <h1>Resultados del Registro de Libro</h1>
    <table border="1">
        <tr>
            <th>Título</th>
            <th>Autor</th>
            <th>Resumen</th>
            <th>Medio</th>
        </tr>
        {% for libro in libros %}
        <tr>
            <td>{{ libro.titulo }}</td>
            <td>{{ libro.autor }}</td>
            <td>{{ libro.resumen }}</td>
            <td>{{ libro.medio }}</td>
        </tr>
        {% endfor %}
    </table>
    
</body>
</html>
